body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}
dd
h2{
    font-weight: normal;
}

.insert-form{
    min-width: 300px;
    margin: 10px auto;
    padding:10px;
    border:1px solid #afafaf;
    border-radius: 5px;
    background: -webkit-linear-gradient(#eee, #ccc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eee, #ccc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eee, #ccc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eee, #ccc); /* Standard syntax (must be last) */
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

.delivery-direction-select-menu{
    width: 99% !important;
}

.toLift{
    background-color:#FFA500 !important;
}
.lifted{
    background-color:#FFFF5C !important;
}
.delivered{
    background-color:#FFFF5C !important;
}
.billed{
    background-color: #6CE26C !important;
}

.dropdown {
    width: 99% !important;
}

.state-row {
    width: 99% !important;
}

.ui-datatable-odd:hover, .ui-datatable-even:hover {
    background: #ddd !important;
}

.large-text {
    font-size: 1.3em;
}

.bold {
    font-weight: bold;
}

.min-width-seventy {
    min-width: 70px !important;
}

.min-width-fifty {
    min-width: 50px !important;
}

.ui-selectonemenu-items-wrapper {
    min-width: 50px !important;
}

.directionFilterClass{
    font-size: 1.2em !important;
    /*background-color: #b66;*/
    color: #000;
    position: absolute;
    top: -5px;
    left: 310px;
    width: auto !important;
}

.deliveryDatatableForm{
    position:relative;
}

.outputLabelExclamationMark{
    background: url('../../images/exclamation_mark.png') no-repeat; 
    background-size: 70%;
    background-position: center;
    height: 24px !important;
    width: 32px !important;
    display:block;
}

.inputLabelExclamationMark {
    background-image: url('../../images/exclamation_mark_transparent.png') !important;
    background-repeat: no-repeat !important;
    background-size: 10% !important;
    background-position: 99% 50% !important;
    display:block;
}

.error-messages{
    left: 0;
}

.totals {
    margin-bottom: 10px !important;
    display: inline-block;
}

.totalsOutput {
    font-size: 0.9em !important;
    margin: 0;
    text-align: right;
    width: 140px;
}

.errorRow{
    background-color: #FF4444 !important;
}